.pitch-form-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px;
  padding: 15px;
}

.second-pitch-form-container{
  width: 230px;
  margin: 0 10px auto 10px;
  padding: 10px;
}

.select{
  width: 230px;
  margin-top: 5px;
}

label{
  color: gray;
}

.secondary-toolbar{
  margin-top: 15px;
  margin-bottom: 5px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: auto;
  border: solid 2px black;
}

.nav-link {
  min-width: auto;
  margin: 0 8px;
}

.secondary-toolbar-container{
  display: flex;
  justify-content: center;
}

.main-container{
  background-color: #F5F5F2;
}

.nav-link.active {
  opacity: 0.7;
}

.pitch-2d {
  text-align: right;
}

button{
  margin-bottom: 5px;
}

.form-container{
  width: 260px;
  margin: 0 10px auto 10px;
}

mat-action-row{
  align-content: center;
  align-items: center;
  text-align: center;
}

.gameTime{
  text-align: center;
}

.view-player-stats{
  margin-top: 10px;
}

.highlighted-card {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
