<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Inicio de sesión</h2>
      <mat-error *ngIf="!loginValid">
        The email and password were not recognized
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Nombre de usuario" [(ngModel)]="userName" name="userName" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Iniciar sesión</button>
    </form>
  </mat-card-content>
</mat-card>
