.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #f0f0f0;
  background-image: url("/assets/media/images/pitch.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px;
  border: 3px solid black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.section {
  width: 300px;
  height: 200px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.section:hover {
  transform: scale(1.05);
  border: 1px solid #ccc; /* Borde opcional */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

