<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenidos a FootballData</title>
</head>
<body>
<div class="container">
  <h1 class="welcome-message">Bienvenido a FootballData.</h1>
  <h3>Aplicación de análisis de fútbol.</h3>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="redirectToLogin()">Iniciar sesión</button>
    <button mat-raised-button color="primary" (click)="redirectToRegister()">Registrarse</button>
  </div>
</div>
</body>
</html>

