.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-message {
  margin-top: 200px;
  font-size: 24px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button-container button {
  margin: 0 10px;
  padding: 15px 30px;
  font-size: 20px;
}
